<ul>
    {% if categories %}

        {% for category in categories %}
            {% if category == current_category %}



                <li>
                    <strong>
                        <a href="{% url 'rango_core:show-category' category.slug %}">{{ category.name }}</a>
                    </strong>
                </li>



            {% else %}




                <li>
                    <a href="{% url 'rango_core:show-category' category.slug %}">{{ category.name }}</a>
                </li>



            {% endif %}

        {% endfor %}

    {% else %}
        <li><strong>There are no categories present.</strong></li>
    {% endif %}
</ul>